# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
conda-env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Mac OS
.DS_Store

# Upload目录中的内容不复制
upload/*

# 环境变量文件
.env
.env-example 